.friend-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height:480px;
  margin: 0px;
}

.friend-image > h1 {
  color: white;
  font-weight: 200;
  letter-spacing: 8px;
}
.friend-container {
  margin: 5px;
}

.friend-container h1 {
  font-size: 30x;
  font-weight: 700;
  margin-top: 10px;
}

.pricing h1 {
  font-size: 20px;
}

.friend-info h5 {
  font-size: 18x;
  font-weight: 500;
}

.friend-info {
  padding: 0px;
}


.friend-info p {
  font-size: 10x;
  font-weight: 300;
  margin: 0px;
}

.friend-info {
  padding: 20px;
}
.friend-details {
  display: flex;
  justify-content: left;
  gap: 100px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.price-availability {
  display: flex;
  justify-content: left;
  gap: 100px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bookme {
  margin-right: 10px;
}

.btn bookmebutton {
  border-radius: 3px;
  color: grey;
  border: 1px, solid, grey;
}
