<div class="container-new-friend">
  <h2> Here you can book me as a Friend  </h2>
  <div class="new-friend p-3 shadow" >
    <%= simple_form_for [@friend, @booking] do |f| %>
      <div class="date">
        <%= f.input :occurs_on %>
      </div>
    <div class="buttonss">
      <%= f.submit "Book me now!", class: "btn btn-success" %>
      <%= link_to 'Cancel me now!', friend_path(@friend), class: "btn btn-danger"%>
    </div>
    <% end %>
  </div>
</div>
