.new-friend {
  border-radius: 20px;
}

.new-friend {
  background-color: white;
  border: 10px;
}

.about-me {
  text-align: left;
  font-weight: 700;
}

.buttons1 {
  justify-content: space-between;
  display: flex;
}
