.home-friend-card {
  display: grid;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 30px;
  grid-gap: 20px;
}

.individual-friend-card {
  text-align: center;
  padding: 20px;
  display: block;
  box-shadow: 3px 3px 6px rgb(230,230,230);
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 40px;
  text-decoration: none;
  color: black;
}
.card-trip:hover {
  color:black;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.map {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  margin: 30px auto;
}
