.navbar-airbnb {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid lightgrey;
  margin: 10px 20px 10px;
}

.navbar-airbnb .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 45px;
}

.search-your-friend {
  border: 1px solid lightgray;
  padding: 8px 7px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: white;
  border-radius: 30px;
  box-shadow: 5px 3px 3px rgb(230, 230, 230);
}
.lines{
  flex: 0 0 1px;
  height: 24px;
  width: 1px;
  color: black;
}
.anywhere:hover, .anyweek:hover, .search:hover {
  opacity: 1;
}

.secondpart {
  background-color: white;
  border: 1px solid lightgray;
  padding: 8px 14px;
  border-radius: 30px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
