.container-new-friend {
  width: 750px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.date {
  padding: 10px 0 10px;
  margin: 0 auto;
}

.buttonss {
  justify-content: space-between;
  display: flex;
}
