.back, .bookme {
  a {
    text-decoration: none;
    color: black;
  }
  a:hover{
    color: black;
  }
}

.details-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  grid: 1f;
}

.card-trip h5, p {
  padding: 4px;
  display: flex;
  justify-content: space-between;
}

.availability {
  display: grid;
  gap: 15px
}

.friend-profile-container {
  width: 650px;
  padding: 10px;
  margin: 0 auto;
}

.backbutton {
  border-radius: 50px;
  border: 1px solid lightgray;
  box-shadow: 5px 3px 3px lightgray;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: white;
}

.backbutton:hover {
  opacity: 1;
  background-color: white;
}

.bookmebutton {
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 5px 3px 3px lightgray;
  padding: 10px;
  background-color: white;
}
.bookmebutton:hover {
  opacity: 1;
  background-color: white;
}
